{erl_opts, [debug_info
%%            ,{i,"include"}
%%            ,{d,release}
]}.

{plugins, [
    rebar3_path_deps
]}.

{deps, [
%%    {network, {git, "https://github.com/yinye1024/network.git", {branch, "main"}}},
%%    {mgd4erl, {git, "https://github.com/yinye1024/mgd4erl.git", {branch, "main"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {tag, "2.5.3"}}},
    {yyutils, {path, "D:/allen_github/yinye1024/yyutils"}},
    {mgd4erl, {path, "D:/allen_github/yinye1024/mgd4erl"}},
    {network, {path, "D:/allen_github/yinye1024/network"}},
    {protobuf, {path, "../protobuf"}}
%%    {mgd4erl, "0.1.0"},
%%    {yyutils, "0.1.0"},
%%    {protobuf, "0.1.0"},
%%    {network, "0.1.0"}
]}.


%% xref 编译检查 主要是检查未定义方法的调用
{xref_warnings,false}.
{xref_extra_paths,[]}.
{xref_checks,[undefined_function_calls]}.
{xref_ignores,[]}.

%% 打包用参数
{relx, [{release, {game, "0.0.1"},
    [game]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
{profiles, [
    {prod, [{relx, [{dev_mode, false},
        {include_erts, true}]}
    ]}
]}.


%% shell 本地调试启动参数
{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [game]}
]}.
