{erl_opts, [debug_info
%%            ,{i,"include"}
%%            ,{d,release}
]}.

{deps, [
%%    {network, {git, "https://github.com/yinye1024/network.git", {branch, "main"}}},
%%    {mgd4erl, {git, "https://github.com/yinye1024/mgd4erl.git", {branch, "main"}}},
    {mgd4erl, "0.1.0"},
    {yyutils, "0.1.0"},
    {protobuf, "0.1.0"},
    {network, "0.1.0"}

]
}.
{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [game]}
]}.
