%% 节点cookie string
{erl_cookie,"game_ck"}.
%% 启动app string
{start_fun,{"game_app","start"}}.

%% pa 列表，string 列表
{erl_ebin_path_linux,[]}.
{erl_ebin_path_win,[
  "/_build/default/lib/bson/ebin",
  "/_build/default/lib/game/ebin",
  "/_build/default/lib/goldrush/ebin",
  "/_build/default/lib/lager/ebin",
  "/_build/default/lib/mgd4erl/ebin",
  "/_build/default/lib/mochiweb/ebin",
  "/_build/default/lib/network/ebin",
  "/_build/default/lib/pbkdf2/ebin",
  "/_build/default/lib/poolboy/ebin",
  "/_build/default/lib/protobuf/ebin",
  "/_build/default/lib/recon/ebin",
  "/_build/default/lib/yypb/ebin",
  "/_build/default/lib/yyutils/ebin"
]}.





