

%% 服务器编号，全局唯一
{svr_no,1}.
%% 节点ip，在云上部署填内网ip
{game_host,"127.0.0.1"}.
%% 游戏服对外端口，客户端tcp链接的端口
{game_port,12002}.
%% 节点类型 游戏服-game 跨服-cross
{node_type, game}.
%% 数据库配置{host,port,DbName,UserName,Password}
{game_mongo_cfg,{"127.0.0.1",27017,"game_db","mongo-admin","mgadmin@123456"}}.
%% 日志级别 1-debug 2-info 3-warning 4-error
{log_level,1}.
%% 登录服地址
{login_address,"http://127.0.0.1:10001"}.
%% 是否开启登录校验
{login_check_auth,false}.


%% 最大用户连接数，
{svr_open_date, {{2019,10,1},{10,0,0}}}.
%% 最大用户连接数，
{max_conn,2000}.

%% 是否开启调试模式，会开启gm
{is_debug_open,true}.
%% 是否开发模式，否的话会屏蔽shell的q()操作等，可参考 user_default 的实现
{is_dev_mode,true}.



